{% extends 'base.html.twig' %}

{% block title %}
  All our recipes
{% endblock %}

{% block body %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ratione minus corrupti optio consequatur perferendis voluptatibus accusamus blanditiis dolor, maxime aut voluptatum sed aspernatur, libero assumenda maiores architecto unde veritatis earum repudiandae nesciunt facere! Sunt officia velit iusto officiis libero alias accusamus eos ullam quisquam, exercitationem labore, nihil nesciunt nostrum voluptates eligendi vel blanditiis suscipit, ab voluptas sint et provident quos ipsa. Repudiandae, deserunt exercitationem ex delectus porro molestiae alias ipsa corrupti ad excepturi cum illum culpa quisquam, nihil quis aliquam dignissimos velit quae libero magni fuga, quibusdam odit! Voluptates numquam suscipit itaque optio animi excepturi voluptas pariatur repudiandae ullam.</p>

  <ul>
    <li>
      <a href="{{ url('app_recipe_show', { id: 32, slug: 'pizza' }) }}">Pizza</a>
    </li>
  </ul>
{% endblock %}
